@page "/counter"
@rendermode InteractiveServer

<PageTitle>Számláló</PageTitle>

<h1>Számláló</h1>

<p role="status">Klikk számolás: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Klikk</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
